    
body {
  margin: 40px;
}

#div_weather {
   padding: 20px;
   overflow: auto;
}

#err_msg {
  color: red;
  padding-left: 50px;
}

#forecast_table > thead > tr > th:nth-child(1) {
  width: 40px;
}

#forecast_table {
  table-layout:fixed; 
  width:2200px; 
  padding-top: 10px;
}

#forecast_table > tbody > tr {
  font-size: .8em;
}

#forecast_date {
  width:60px;
}
#forecast_user {
  width:54px;
}
#forecast_impersonating {
  width:44px;
}
#forecast_action {
  width:44px;
}
#forecast_object {
  width:44px;
}
#forecast_description {
  width:100px;
}
#forecast_incoming_ip {
  width:24px;
}

#forecast_table_length,
#forecast_table_filter {
  margin: 50px 0px 0px 10px;
}

#forecast_table > tbody > tr:nth-child(odd) {
  background-color: #ECE8DC;
}


